node_modules
vendor
.git
.gitignore
docker
docker-compose.yml
README.md
README-DOCKER.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
public/hot
public/build
.env
.env.backup
.phpunit.result.cache
npm-debug.log
